@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --primary:#9333EA;
  --secondary:#f43f5e;
  --danger:#D32F2F;
  --purple:#9c27b0;
  --success:#4caf50;
  --warning:#ddec16;
  --blue:#36aaff;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  /* background-color: #000000;
  color: #ffffff; */
  width: 100vw;
  max-height:100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
h2 {
  font-size: 2.9em;
  line-height: 1.1;
}h2 {
  font-size: 2.5em;
  line-height: 1.1;
}
button {
  border-radius: 2px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  background-color: rgba( 255, 255, 255, 0.1 );;
  cursor: pointer;
  transition: border-color 0.1s;
}
button:hover {
  border-color: inherit;
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active  {
  color : black !important;
  -webkit-text-fill-color: black !important;
  -webkit-box-shadow: 0 0 0 1000px transparent inset !important;
  -webkit-background-clip: text !important;
  background-clip: text !important;
}

input,select{
  background-color: transparent;
}

#root{
  width:100vw;
  height:100vh;
}

header{
display: flex; 
overflow: hidden; 
justify-content: space-between; 
height: 2.5rem; 
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale; 
color: #000000; 
backdrop-filter: blur(12px); 
width: 100vw;

}
header>ul{
  display: flex; 
padding: 0.5rem; 
gap: 1rem; 

}
header>ul>a{
  color: var(--primary);
}

.content{
  overflow: scroll;
  height: calc(100% - 4rem);
}
footer{
position: fixed; 
bottom: 0; 
color: #ffffff; 
backdrop-filter: blur(12px); 
width: 100vw;
}

::-webkit-scrollbar {
  display: none;
}


